<p id="notice"><%= notice %></p>

<h1>Aeroplanes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aeroplanes.each do |aeroplane| %>
      <tr>
        <td><%= link_to 'Show', aeroplane %></td>
        <td><%= link_to 'Edit', edit_aeroplane_path(aeroplane) %></td>
        <td><%= link_to 'Destroy', aeroplane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aeroplane', new_aeroplane_path %>
